version: 2.1
orbs:
  python: circleci/python@2.0.3
jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.10.4
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run: 
          name: install requirements
          command: pip install -r requirements.txt
      - run:
          name: Run tests
          command: pytest test_app.py
workflows:
  sample:
    jobs:
      - build-and-test