html, body {
    font-family: 'Courier Prime', monospace;
    height: 100%;
}

a {
    color:rgb(55, 53, 47);
    text-decoration: none;
}

#footer {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 5vh;
    justify-content: center;
    padding-top: 5em;
    width: 100%;
  }
  
#footer h3 {
    margin: 0;
}

.hero-container {
    display: flex;
    align-items: center;
    padding-top: 2em;
}


/* The hero image */
.hero-image {
    height: 30vh;
    width: 100%;
    display: block;
    object-fit: cover;
    position: center;
}

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;

    border-width: 2px ;
    border-bottom-style: groove;
    border-color: rgb(118, 118, 118);
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;

    border-width: 2px ;
    border-bottom-style: groove;
    border-color: rgb(118, 118, 118);
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0%;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;

    border-width: 2px ;
    border-bottom-style: groove;
    border-color: rgb(118, 118, 118);
}

.slogan {
    color: rgb(55, 53, 47);
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    margin-top: 1em;
}

.search-description {
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
    color: rgb(217, 115, 13);
    background-color: rgb(251, 236, 221);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
}


.search-input::-webkit-input-placeholder {
    font-family: 'Courier Prime', monospace;
}

.search-input:-ms-input-placeholder {
    font-family: 'Courier Prime', monospace;
}

.search-input:-moz-placeholder {
    font-family: 'Courier Prime', monospace;
}

.search-input::-moz-placeholder {
    font-family: 'Courier Prime', monospace;
}

.search-box {
    margin: 0 auto;
    margin-top: 1em;
    max-width: 416px;
}

.search-bar {
    margin: 0 auto;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-input {
    width: 400px;
    font-family: 'Courier Prime', monospace;
    border-bottom-style: groove;
    outline: none;
}

.search-icon {
    border-width: 2px ;
    border-bottom-style: groove;
    border-color: rgb(118, 118, 118);
    padding-bottom: 4px;
}

.search-icon:hover {
    cursor: pointer;
}

.results {
    max-height: 72px;
    overflow: hidden;
    overflow-y: auto;    
}

.results:hover {
    cursor: pointer;
}

.results::-webkit-scrollbar {
    display: none;
}

.body-container {
    max-width: 1060px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1em;
}

.bar {
    min-width: 180px;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.bar-description {
    max-width: 180px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(217, 115, 13);
    background-color: rgb(251, 236, 221);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
}

.recommendations-container {
    margin: 0 auto;
    min-width: 620px;
    max-width: 620px;
}

.recommendations-description {
    font-size: 14px;
    font-weight: 700;
    margin-top: 1em;
    color: rgb(217, 115, 13);
    background-color: rgb(251, 236, 221);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
}

.recommendations-header {
    font-size: 14px;
    font-weight: thin;
    margin-top: 1em;
    display: flex;
}

.recommendations-row {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recommendations-box {
    height: 220px;
    border-radius: 3px;
    max-width: 110px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.recommendations-box-gold {
    height: 220px;
    border-radius: 3px;
    max-width: 110px;
    box-shadow: rgba(220, 220, 0, 0.5) 0px 0px 0px 2px, rgba(220, 255, 0, 0.5) 0.5px 4px 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.recommendations-box:hover {
    cursor: pointer;
}

.recommendations-box-gold:hover {
    cursor: pointer;
}

.recommendations-image {
    max-width: 110px;
    border-radius: 3px;
}

.recommendations-title {
    font-size: 10px;
    font-weight: thin;
    padding: .5em;
}
.recommendations-star {
    font-size: 10px;
    font-weight: thin;
    padding: .5em;
    margin-top: auto;
}

SearchIcon {
    background-color: transparent;
}


@media only screen and (max-width: 600px) {
    .hero-image {
        height: 20vh;
    }

    .search-description {
        font-size: 8px;
        font-weight: 700;
        max-width: 350px;
    }
  }